body {
  background: linear-gradient(to right, #00b09b, #96c93d);
  text-align: center;
}

.well {
  background: none;
  border: solid 2px;
}

.jumbotron {
  background-color: #1203c0;
  opacity: .7;
}

.btn {
  opacity: 1;
}

img {
  text-align: right;
  height: 350px;
}
